
<%- include('bootheader') -%>
<%- include('menubar') -%>

  <div class="jumbotron">
    <h1>Liang's Hearthstone Information Center</h1>
    <img width="600" src="/images/logo.jpg"><br><br>
    <p>This webpage provides basic information about Hearthstone's battlegrounds, card information, your recent game results, and your hearthstone skill score.</p><br><br>
    <ul>
      <li><a href="/demo">Go to the information page </a></li>
      <li><a href="/cards">See card information </a></li>
      <li><a href="/about">View author bio</a></li>
      <% if (loggedIn) {%>
      <li><a href="/profile">See your profile </a></li>
      <li><a href="/profiles">See everyone's profile</a></li>
      <li><a href="/data">See your recent game results</a></li>
      <li><a href="/score">Calculate your batteleground score</a></li>
      <li><a href="/survey">Take this survey!</a></li>
      <% } %>
    </ul>
  </div>

<%- include('bootfooter') -%>
