<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/"><h1>HearthstoneWonderland</h1></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" href="/demo">Information Page</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/cards">Card info</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/about">Author Bio</a>
      </li>
      <% if (loggedIn) {%>
        <li class="nav-item">
          <a class="nav-link" href="/rank">Your game results</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/score">Calculate your battleground score!</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/profile">Your Profile</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/survey">Survey</a>
        </li>
      <% } %>

    </ul>


  </div>
</nav>
